# Dependency directories
node_modules/

# Environment configuration
.env

# Build outputs
/dist
/build

# Logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# common ignore files
*.swp
*.lock
*~

#latex aux and intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

#data unprocessed
2021-Agri-Unprocessed
2021-Agri-Preprocessed
!default-2024-02-02T19-04-55.958Z.geojson
