# Dependency directories
node_modules/

# Environment configuration
.env

# Build outputs
*/dist
/build

# Logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# common ignore files
*.swp
*.lock
*~

#latex aux and intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

#data unprocessed
2021-Agri-Preprocessed

#history
.history

#temporary uploads
temp/

#tsconfig build
tsconfig.tsbuildinfo

#main zip download
main.zip
CGC-DataVizTool-main/*