  /* Tooltip styling */
  .GuideTooltip .react-tooltip {
    max-width: 45vw;
    max-height: 500px;
    overflow-y: auto;
    color: #4a4a4a;
    position: absolute;
    background-color: #F8FAFC;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Table styling */
  table, th, td {
    border: 1px solid black;
  }
  
  /* Tooltip content styling */
  .GuideTooltip .react-tooltip h2 {
    margin-top: 0;
  }
  
  .GuideTooltip .react-tooltip h3 {
    margin-top: 1.5em;
  }
  
  .GuideTooltip .react-tooltip p {
    margin-bottom: 1em;
  }
  
  .GuideTooltip .react-tooltip ul,
  .GuideTooltip .react-tooltip ol {
    margin-bottom: 1em;
    margin-left: 1.5em;
  }
  
  .GuideTooltip .react-tooltip li {
    margin-bottom: 0.5em;
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    .GuideTooltip .react-tooltip {
      max-width: 300px;
    }
  }
  