.title{
    position:relative;
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 400;
    text-align: center;
}

  /* Responsive design */
  @media screen and (max-width: 768px) {
    .title{
        font-size: 7px;
        margin-right: 3px;
        background: rgba(255,255,255,0);
        box-shadow: 0 0 15px rgba(0,0,0,0);
        text-align: right;
    }
  }